dist: xenial

language: python
python:
  - "3.8"

services:
  - docker
jobs:
  include:
    - name: "Linter"
      before_script:
        - pip install -q flake8
      script:
        - "flake8"

    - name: "Django Test"
      before_script:
        - docker-compose -v
        - docker -v
        - docker-compose -f local.yml build
        # Ensure celerybeat does not crash due to non-existent tables
        - docker-compose -f local.yml run --rm django python manage.py migrate
        - docker-compose -f local.yml up -d
      script:
        - "docker-compose -f local.yml run django pytest"
      after_failure:
        - docker-compose -f local.yml logs
      after_success:
        - docker-compose -f production.yml build
        - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
        - docker-compose -f production.yml push
      deploy:
        provider: elasticbeanstalk
        region: ap-southeast-1
        app: django-cookiecutter
        env: DjangoCookiecutter-env
        bucket_name: elasticbeanstalk-ap-southeast-1-913171412485
        bucket_path: django-cookiecutter
        on:
          branch: master
        access_key_id: "$AWS_ACCESS_KEY"
        secret_access_key: "$AWS_SECRET_KEY"
